{{ define "main" }}
	<main>
		<header>
			<h1>{{.Title}}</h1>
			{{ with .Params.subtitle }}
				<span class="subtitle">{{.}}</span>
			{{ end }}
		</header>
		{{.Content}}
		<ul>
			{{range .Site.RegularPages }}
				<li>
					<a href="{{.Permalink}}">
						{{.Title}}
					</a>
				</li>
			{{ end }}
		</ul>
	</main>
{{ end }}
